<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:100px">
      <h1>Editing Profile</h1>

      <%= render 'form', profile: @profile %>

    </div>
  </div>
</div>
