<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well" style="margin-top:100px">
      <h1>New Profile</h1>

      <%= render 'form', profile: @profile %>

      <%= link_to 'Back', profiles_path %>
    </div>
  </div>
</div>
