<%= render 'static_pages/nav' %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well" style="margin-top:100px">
      <h1>User Profile Dashbord for: <b><%= @user.email %></b></h1>
      <h4>This page can be used as a dashboard after initial sign up to edit and manage subscription, account info, and accumulation.</h4>
    </div>
  </div>
</div>
